name: Test deployment to QA
on:
  push:
    branches: 
    - development 

  pull_request:
    branches:
     - development 

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Ant
        env:
          SERVER: development
          USER_NAME: ${{ secrets.USER_NAME}}
          PASSWORD: ${{ secrets.PASSWORD}}

        run: ant -buildfile build/build.xml  checkDeploy -Dsfdc.username=${Env:USER_NAME} -Dsfdc.password=$PASSWORD -Dsfdc.serverurl='https://mycustomdevdomain-dev-ed.my.salesforce.com/'
        