name: Test deployment to QA
on:
  push:
    branches: 
    - development 

  pull_request:
    branches:
     - development 

jobs:
  development:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Ant
        env:
          my_env_var: ${{ env.development }}
          PASSWORD: ${{ env.PASSWORD}}


        run: ant -buildfile build/build.xml  checkDeploy -Dsfdc.username=$my_env_var -Dsfdc.password=$PASSWORD -Dsfdc.serverurl='https://mycustomdevdomain-dev-ed.my.salesforce.com//'
        
        
